@import url("https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900 & display=trocar");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  overflow: hidden;
}

.desktop {
  height: 100vh;
  background-image: url("./assets/img/bg_win.jpg");
  background-color: #3b3b3b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  overflow: hidden;
  padding: 12px;
}

.desktop .window {
  visibility: hidden;
  width: 80vw;
  height: 80vh;
  background-color: rgba(33, 33, 33, 0.815);
  position: absolute;
  top: 10vh;
  left: 10vw;
  z-index: 50;
  border-radius: 12px;
}

.desktop .window.openWindow {
  visibility: visible;
}

.desktop .window .window-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktop .window .window-header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.desktop .window .window-header section .button {
  width: 18px;
  height: 18px;
  display: block;
  background-color: #3b3b3b;
  border-radius: 50%;
  cursor: pointer;
}

.desktop .window .window-header section .button.close {
  background-color: #F04040;
}

.desktop .window .window-header section .button.maximize {
  background-color: #F0c140;
}

.desktop .window .window-header section .button.minimize {
  background-color: #4dd36a;
}

.desktop .window .window-header h1 {
  color: #ffffff;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
}

.desktop .window main {
  width: 100%;
  height: 100%;
}

.desktop .window main iframe {
  width: 100%;
  height: 100%;
}

.desktop .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
}

.desktop .icons .icon {
  width: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding: 12px 18px;
  border-radius: 12px;
  opacity: .8;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer;
}

.desktop .icons .icon:hover {
  opacity: 1;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.desktop .icons .icon img {
  width: 64px;
}

.desktop .icons .icon h1 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: .7px;
  text-align: center;
}

.desktop .doc-wrapper {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 32px;
  z-index: 60;
}

.desktop .doc-wrapper .doc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  gap: 6px;
  padding: 6px 24px;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: .5s;
  transition: .5s;
}

.desktop .doc-wrapper .doc:hover {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.desktop .doc-wrapper .doc img {
  width: 64px;
  opacity: .8;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.desktop .doc-wrapper .doc img:hover {
  -webkit-transform: scale(1.2) translateY(-20px);
          transform: scale(1.2) translateY(-20px);
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */